# fly.toml app configuration file generated for vijaya-api
app = "vijaya-api"

primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[mounts]]
  source = "uploads"
  destination = "/app/uploads"
  initial_size = "5gb"

[deploy]
  release_command = "npx prisma migrate deploy"
  strategy = "rolling"

[metrics]
  metrics_engines = ["prometheus"]
